.App {
  margin: 0;
  background-color: white;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(2);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;;
}

.Hero {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: lightgray;
  color: #333;
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.Hero img{
  border-radius: 30px;
  border: 5px solid black;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.App .selfie:hover {
  transform: scale(1.3);
  z-index: 1000;
  position: relative;
}

.else{
  background-color: white;
}

.skills {
  padding: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 830px;
}

.aboutMe h2{
  color: green;
}
.aboutMe p{
  font-size:1.3rem;
}

.aboutMe{
  padding: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px;
}

.projects h2{
  color:green;
}

.contacts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.mySkills{
  color:green;
}

.contactMe{
  margin-top: 40px;
  text-align: center;
  color: green;
}

#timeline{
  padding: 50px;
}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume img{
  width: 100px;
}

.resume{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.resume h2 {
  color: green;
  text-align: center;
}

.resume img {
  width: 200px;
  border-radius: 10px;
}

/*.App {
  text-align: center;
}

.test{
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: linear-gradient(white, lightblue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dumb{
  width: 100%;
  height: 100vh;
}*/
