.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-card:hover {
    transform: scale(1.1);
  }
  
  .skill-img {
    width: 50px;
    height: 100px;
    object-fit: contain;
  }
  
  .skill-name {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  